# Django Settings
SECRET_KEY=django-insecure-+##yf4@(bzc4cmxwlqg-44*da87sqz%wb9zq132q93(aq5zzy+
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DB_NAME=DigitalCampus
DB_USER=postgres
DB_PASSWORD=DigitalIUB
DB_HOST=localhost
DB_PORT=5432

# Anthropic API Key (Optional)
# ANTHROPIC_API_KEY=your-anthropic-api-key-here

# Redis Cluster Configuration
REDIS_URL=redis://localhost:7001
REDIS_NODE_1_HOST=localhost
REDIS_NODE_1_PORT=7001
REDIS_NODE_2_HOST=localhost
REDIS_NODE_2_PORT=7002
REDIS_NODE_3_HOST=localhost
REDIS_NODE_3_PORT=7003

# Email Configuration (Gmail)
EMAIL_HOST=smtp.gmail.net
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=dtfdrop25@gmail.com
EMAIL_HOST_PASSWORD=vxfw lgqy nsng uxma

# Cloud Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=detfztbcs
CLOUDINARY_API_KEY=175872825427836
CLOUDINARY_API_SECRET=cloudinary://175872825427836:Fy1dhdqmZin2-mEAeMNcAg9JCfQ@detfztbcs


# Celery Configuration
CELERY_BROKER_URL=redis://localhost:7001
CELERY_RESULT_BACKEND=redis://localhost:7001

# AI Service
AI_SERVICE_URL=http://localhost:8001
AI_SERVICE_API_KEY=your-ai-service-api-key